In [70]:
#import sys
#!{sys.executable} -m pip install SelectKBest

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn import preprocessing
from sklearn.utils import resample
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [71]:
col_names = ['win', 'region', 'mode', 'type']
num_arr = np.arange(113).astype(str)
all_names = np.concatenate((col_names, num_arr), axis = 0)

dota_data = pd.read_csv("dota2Test.csv", header=None, names=all_names)

In [72]:
dota_data.head(5)

,win,region,mode,type,0,1,2,3,4,5,...,103,104,105,106,107,108,109,110,111,112
0,-1,223,8,2,0,-1,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
1,1,227,8,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
2,-1,136,2,2,1,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,227,2,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,184,2,3,0,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
dota_data.shape

(10294, 117)

In [74]:
#Promena vrednosti -1 u 2 u svim celijama
dota_data = dota_data.replace(-1, 2)

#Brisanje duplikata
dota_data = dota_data.drop_duplicates()

In [75]:
#Koliko se koji heroj pojavljuje u mecevima
#Moze se reci da se heroji pojavljuju skoro podjednako u timu 1 i 2, i da je njihovo ukupno pojavljivanje priblizno jednako sa izuzecima manjeg pojavljivanja
heroes = dota_data.iloc[:,4:]
heroes_counts=[]
for x in num_arr:
    heroes_counts.append(heroes[x].value_counts())
    
heroes_counts

[0    8662
 2     824
 1     808
 Name: 0, dtype: int64,
 0    8062
 1    1131
 2    1101
 Name: 1, dtype: int64,
 0    9988
 2     154
 1     152
 Name: 2, dtype: int64,
 0    9052
 2     621
 1     621
 Name: 3, dtype: int64,
 0    9153
 2     601
 1     540
 Name: 4, dtype: int64,
 0    7925
 1    1188
 2    1181
 Name: 5, dtype: int64,
 0    8986
 1     668
 2     640
 Name: 6, dtype: int64,
 0    7687
 2    1329
 1    1278
 Name: 7, dtype: int64,
 0    6760
 1    1800
 2    1734
 Name: 8, dtype: int64,
 0    9212
 2     558
 1     524
 Name: 9, dtype: int64,
 0    9145
 2     577
 1     572
 Name: 10, dtype: int64,
 0    9496
 2     416
 1     382
 Name: 11, dtype: int64,
 0    9728
 2     283
 1     283
 Name: 12, dtype: int64,
 0    7110
 1    1593
 2    1591
 Name: 13, dtype: int64,
 0    9845
 1     229
 2     220
 Name: 14, dtype: int64,
 0    9018
 1     649
 2     627
 Name: 15, dtype: int64,
 0    9003
 1     653
 2     638
 Name: 16, dtype: int64,
 0    8457
 2     919
 1     918
 Name: 17, dtype: int64,
 0    9439
 2     428
 1     427
 Name: 18, dtype: int64,
 0    9482
 1     419
 2     393
 Name: 19, dtype: int64,
 0    8687
 2     809
 1     798
 Name: 20, dtype: int64,
 0    9130
 2     615
 1     549
 Name: 21, dtype: int64,
 0    9192
 2     552
 1     550
 Name: 22, dtype: int64,
 0    10294
 Name: 23, dtype: int64,
 0    9519
 2     399
 1     376
 Name: 24, dtype: int64,
 0    8959
 1     673
 2     662
 Name: 25, dtype: int64,
 0    9665
 2     323
 1     306
 Name: 26, dtype: int64,
 0    9086
 2     617
 1     591
 Name: 27, dtype: int64,
 0    9600
 2     375
 1     319
 Name: 28, dtype: int64,
 0    9557
 1     377
 2     360
 Name: 29, dtype: int64,
 0    9823
 2     237
 1     234
 Name: 30, dtype: int64,
 0    8086
 2    1125
 1    1083
 Name: 31, dtype: int64,
 0    9831
 2     234
 1     229
 Name: 32, dtype: int64,
 0    9030
 1     652
 2     612
 Name: 33, dtype: int64,
 0    8377
 1     975
 2     942
 Name: 34, dtype: int64,
 0    9125
 2     601
 1     568
 Name: 35, dtype: int64,
 0    9870
 1     217
 2     207
 Name: 36, dtype: int64,
 0    10019
 2      142
 1      133
 Name: 37, dtype: int64,
 0    9575
 1     378
 2     341
 Name: 38, dtype: int64,
 0    9780
 2     266
 1     248
 Name: 39, dtype: int64,
 0    8433
 1     946
 2     915
 Name: 40, dtype: int64,
 0    9021
 2     675
 1     598
 Name: 41, dtype: int64,
 0    9854
 1     244
 2     196
 Name: 42, dtype: int64,
 0    6953
 1    1700
 2    1641
 Name: 43, dtype: int64,
 0    9953
 2     183
 1     158
 Name: 44, dtype: int64,
 0    9748
 2     279
 1     267
 Name: 45, dtype: int64,
 0    9499
 2     421
 1     374
 Name: 46, dtype: int64,
 0    9460
 1     438
 2     396
 Name: 47, dtype: int64,
 0    9698
 2     320
 1     276
 Name: 48, dtype: int64,
 0    9642
 2     333
 1     319
 Name: 49, dtype: int64,
 0    9871
 1     213
 2     210
 Name: 50, dtype: int64,
 0    10003
 1      147
 2      144
 Name: 51, dtype: int64,
 0    9474
 1     430
 2     390
 Name: 52, dtype: int64,
 0    8883
 2     721
 1     690
 Name: 53, dtype: int64,
 0    9886
 2     206
 1     202
 Name: 54, dtype: int64,
 0    9415
 2     453
 1     426
 Name: 55, dtype: int64,
 0    9377
 1     460
 2     457
 Name: 56, dtype: int64,
 0    9984
 2     157
 1     153
 Name: 57, dtype: int64,
 0    8915
 2     697
 1     682
 Name: 58, dtype: int64,
 0    9833
 2     233
 1     228
 Name: 59, dtype: int64,
 0    10084
 2      111
 1       99
 Name: 60, dtype: int64,
 0    8853
 1     730
 2     711
 Name: 61, dtype: int64,
 0    9405
 1     445
 2     444
 Name: 62, dtype: int64,
 0    9902
 1     198
 2     194
 Name: 63, dtype: int64,
 0    9893
 2     201
 1     200
 Name: 64, dtype: int64,
 0    10191
 2       52
 1       51
 Name: 65, dtype: int64,
 0    9441
 2     445
 1     408
 Name: 66, dtype: int64,
 0    9636
 1     353
 2     305
 Name: 67, dtype: int64,
 0    9941
 2     178
 1     175
 Name: 68, dtype: int64,
 0    9081
 1     639
 2     574
 Name: 69, dtype: int64,
 0    9131
 2     588
 1     575
 Name: 70, dtype: int64,
 0    9905
 1     211
 2     178
 Name: 71, dtype: int64,
 0    8969
 2     685
 1     640
 Name: 72, dtype: int64,
 0    7867
 1    1228
 2    1199
 Name: 73, dtype: int64,
 0    9504
 2     413
 1     377
 Name: 74, dtype: int64,
 0    9820
 1     241
 2     233
 Name: 75, dtype: int64,
 0    10012
 1      147
 2      135
 Name: 76, dtype: int64,
 0    10109
 1       98
 2       87
 Name: 77, dtype: int64,
 0    9694
 1     303
 2     297
 Name: 78, dtype: int64,
 0    10121
 2       97
 1       76
 Name: 79, dtype: int64,
 0    9776
 2     277
 1     241
 Name: 80, dtype: int64,
 0    9930
 1     196
 2     168
 Name: 81, dtype: int64,
 0    9999
 2     152
 1     143
 Name: 82, dtype: int64,
 0    9269
 1     526
 2     499
 Name: 83, dtype: int64,
 0    9825
 2     256
 1     213
 Name: 84, dtype: int64,
 0    9478
 1     419
 2     397
 Name: 85, dtype: int64,
 0    9757
 2     285
 1     252
 Name: 86, dtype: int64,
 0    9483
 1     422
 2     389
 Name: 87, dtype: int64,
 0    9986
 2     170
 1     138
 Name: 88, dtype: int64,
 0    9741
 2     283
 1     270
 Name: 89, dtype: int64,
 0    10096
 2      103
 1       95
 Name: 90, dtype: int64,
 0    10188
 1       54
 2       52
 Name: 91, dtype: int64,
 0    7739
 1    1309
 2    1246
 Name: 92, dtype: int64,
 0    9378
 1     480
 2     436
 Name: 93, dtype: int64,
 0    9613
 2     342
 1     339
 Name: 94, dtype: int64,
 0    9790
 1     259
 2     245
 Name: 95, dtype: int64,
 0    9668
 2     315
 1     311
 Name: 96, dtype: int64,
 0    8363
 1     986
 2     945
 Name: 97, dtype: int64,
 0    9391
 2     464
 1     439
 Name: 98, dtype: int64,
 0    9887
 1     207
 2     200
 Name: 99, dtype: int64,
 0    9818
 1     252
 2     224
 Name: 100, dtype: int64,
 0    9869
 1     218
 2     207
 Name: 101, dtype: int64,
 0    9604
 2     351
 1     339
 Name: 102, dtype: int64,
 0    7370
 1    1471
 2    1453
 Name: 103, dtype: int64,
 0    9863
 1     236
 2     195
 Name: 104, dtype: int64,
 0    9457
 2     422
 1     415
 Name: 105, dtype: int64,
 0    10073
 2      115
 1      106
 Name: 106, dtype: int64,
 0    10294
 Name: 107, dtype: int64,
 0    9795
 1     253
 2     246
 Name: 108, dtype: int64,
 0    9842
 1     240
 2     212
 Name: 109, dtype: int64,
 0    9997
 2     153
 1     144
 Name: 110, dtype: int64,
 0    9956
 2     171
 1     167
 Name: 111, dtype: int64,
 0    10111
 1       94
 2       89
 Name: 112, dtype: int64]

In [76]:
#Broj null podataka u svakoj koloni
dota_data.isnull().sum()

win       0
region    0
mode      0
type      0
0         0
         ..
108       0
109       0
110       0
111       0
112       0
Length: 117, dtype: int64

In [77]:
#provera tipova podataka
dota_data.dtypes

win       int64
region    int64
mode      int64
type      int64
0         int64
          ...
108       int64
109       int64
110       int64
111       int64
112       int64
Length: 117, dtype: object

In [78]:
#Grupisanje regiona
dota_data.loc[dota_data["region"].isin([111,112,113,114]), "region"] = 1 #US West
dota_data.loc[dota_data["region"].isin([121,122,123,124]), "region"] = 2 #US East
dota_data.loc[dota_data["region"].isin([131,132,133,134,135,136,137,138]), "region"] = 3 #Europe West
dota_data.loc[dota_data["region"].isin([142,143,144,145]), "region"] = 4 #South Korea
dota_data.loc[dota_data["region"].isin([151,152,153,154,155,156]), "region"] = 5 #Southeast Asia
dota_data.loc[dota_data["region"].isin([161,163, 221,222,223,224,225,227,231]), "region"] = 6 #China
dota_data.loc[dota_data["region"].isin([171]), "region"] = 7 #Australia
dota_data.loc[dota_data["region"].isin([181,182,183,184, 185,186,187,188]), "region"] = 8 #Russia
dota_data.loc[dota_data["region"].isin([191,192]), "region"] = 9 #Europe East
dota_data.loc[dota_data["region"].isin([200,202,203,204]), "region"] = 10 #South America
dota_data.loc[dota_data["region"].isin([211,212,213]), "region"] = 11 #South Africa
dota_data.loc[dota_data["region"].isin([241,242]), "region"] = 12 #Chile
dota_data.loc[dota_data["region"].isin([251]), "region"] = 13 #Peru
dota_data.loc[dota_data["region"].isin([261]), "region"] = 14 #India
dota_data['region'].head(5)

0    6
1    6
2    3
3    6
4    8
Name: region, dtype: int64

In [79]:
#Uklanjanje instanci ciji je tip igre 'Tutorial' 
df_f1=dota_data[dota_data['type'] != 3]

#Uklanjanje instanci ciji je mod igre 'Tutorial' 
df_f2=df_f1[df_f1['mode'] != 10]

In [80]:
df_f2['win'].value_counts()

1    3332
2    2957
Name: win, dtype: int64

In [81]:
Y = df_f2.iloc[:,0]
X = df_f2.iloc[:,1:]

In [69]:
bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X,Y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Columns','Score']  #naming the dataframe columns
print(featureScores.nlargest(10,'Score'))  #print 10 best features

    Columns      Score
0    region  88.149865
66       63  14.237835
101      98  13.986666
55       52  12.594571
44       41  11.114287
112     109  11.041193
38       35   7.416157
82       79   6.401269
71       68   5.944453
92       89   5.756112