In [65]:
#import sys
#!{sys.executable} -m pip install SelectKBest

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from sklearn import preprocessing
from sklearn.utils import resample
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import VarianceThreshold
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

## Učitavanje podataka i imenovanje kolona

In [2]:
col_names = ['win', 'region', 'mode', 'type']
num_arr = np.arange(113).astype(str)
all_names = np.concatenate((col_names, num_arr), axis = 0)

dota_data = pd.read_csv("dota2.csv", header=None, names=all_names)

In [3]:
dota_data.head(5)

,win,region,mode,type,0,1,2,3,4,5,...,103,104,105,106,107,108,109,110,111,112
0,-1,223,8,2,0,-1,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
1,1,227,8,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
2,-1,136,2,2,1,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,227,2,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,184,2,3,0,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Provera tipova podataka i postojanje null vrednosti

In [4]:
dota_data.shape

(102944, 117)

In [5]:
#Promena vrednosti -1 u 2 u svim celijama
#dota_data = dota_data.replace(-1, 2)

#Brisanje duplikata
dota_data = dota_data.drop_duplicates()

In [6]:
#Koliko se koji heroj pojavljuje u mecevima
#Moze se reci da se heroji pojavljuju skoro podjednako u timu 1 i 2, i da je njihovo ukupno pojavljivanje priblizno jednako sa izuzecima manjeg pojavljivanja
heroes = dota_data.iloc[:,4:]
heroes_counts=[]
for x in num_arr:
    heroes_counts.append(heroes[x].value_counts())
    
heroes_counts

[ 0    86339
 -1     8386
  1     8219
 Name: 0, dtype: int64,
  0    80448
 -1    11278
  1    11218
 Name: 1, dtype: int64,
  0    100114
  1      1446
 -1      1384
 Name: 2, dtype: int64,
  0    90000
 -1     6509
  1     6435
 Name: 3, dtype: int64,
  0    91753
 -1     5719
  1     5472
 Name: 4, dtype: int64,
  0    78875
  1    12185
 -1    11884
 Name: 5, dtype: int64,
  0    90360
 -1     6294
  1     6290
 Name: 6, dtype: int64,
  0    77010
 -1    13170
  1    12764
 Name: 7, dtype: int64,
  0    67362
  1    18101
 -1    17481
 Name: 8, dtype: int64,
  0    92055
  1     5499
 -1     5390
 Name: 9, dtype: int64,
  0    91385
  1     5864
 -1     5695
 Name: 10, dtype: int64,
  0    94858
 -1     4115
  1     3971
 Name: 11, dtype: int64,
  0    97815
  1     2571
 -1     2558
 Name: 12, dtype: int64,
  0    71475
  1    15779
 -1    15690
 Name: 13, dtype: int64,
  0    98314
  1     2331
 -1     2299
 Name: 14, dtype: int64,
  0    90655
  1     6213
 -1     6076
 Name: 15, dtype: int64,
  0    89965
 -1     6524
  1     6455
 Name: 16, dtype: int64,
  0    84078
 -1     9545
  1     9321
 Name: 17, dtype: int64,
  0    94311
 -1     4352
  1     4281
 Name: 18, dtype: int64,
  0    94619
  1     4208
 -1     4117
 Name: 19, dtype: int64,
  0    86864
 -1     8044
  1     8036
 Name: 20, dtype: int64,
  0    91812
 -1     5623
  1     5509
 Name: 21, dtype: int64,
  0    92207
 -1     5386
  1     5351
 Name: 22, dtype: int64,
 0    102944
 Name: 23, dtype: int64,
  0    94850
 -1     4051
  1     4043
 Name: 24, dtype: int64,
  0    89501
  1     6836
 -1     6607
 Name: 25, dtype: int64,
  0    96662
  1     3143
 -1     3139
 Name: 26, dtype: int64,
  0    90858
  1     6138
 -1     5948
 Name: 27, dtype: int64,
  0    95826
 -1     3607
  1     3511
 Name: 28, dtype: int64,
  0    95537
  1     3712
 -1     3695
 Name: 29, dtype: int64,
  0    98108
 -1     2432
  1     2404
 Name: 30, dtype: int64,
  0    81066
 -1    11094
  1    10784
 Name: 31, dtype: int64,
  0    98000
 -1     2488
  1     2456
 Name: 32, dtype: int64,
  0    90122
  1     6451
 -1     6371
 Name: 33, dtype: int64,
  0    83751
  1     9604
 -1     9589
 Name: 34, dtype: int64,
  0    91046
  1     5961
 -1     5937
 Name: 35, dtype: int64,
  0    98918
 -1     2033
  1     1993
 Name: 36, dtype: int64,
  0    100163
 -1      1397
  1      1384
 Name: 37, dtype: int64,
  0    95687
 -1     3630
  1     3627
 Name: 38, dtype: int64,
  0    97823
  1     2584
 -1     2537
 Name: 39, dtype: int64,
  0    84337
 -1     9313
  1     9294
 Name: 40, dtype: int64,
  0    90021
 -1     6626
  1     6297
 Name: 41, dtype: int64,
  0    98510
 -1     2249
  1     2185
 Name: 42, dtype: int64,
  0    69801
  1    16746
 -1    16397
 Name: 43, dtype: int64,
  0    99401
 -1     1808
  1     1735
 Name: 44, dtype: int64,
  0    97593
 -1     2720
  1     2631
 Name: 45, dtype: int64,
  0    95348
 -1     3878
  1     3718
 Name: 46, dtype: int64,
  0    94604
  1     4184
 -1     4156
 Name: 47, dtype: int64,
  0    97064
 -1     2997
  1     2883
 Name: 48, dtype: int64,
  0    96423
 -1     3293
  1     3228
 Name: 49, dtype: int64,
  0    98602
 -1     2216
  1     2126
 Name: 50, dtype: int64,
  0    100017
  1      1481
 -1      1446
 Name: 51, dtype: int64,
  0    94855
  1     4477
 -1     3612
 Name: 52, dtype: int64,
  0    89172
 -1     6945
  1     6827
 Name: 53, dtype: int64,
  0    99173
 -1     1924
  1     1847
 Name: 54, dtype: int64,
  0    94655
 -1     4236
  1     4053
 Name: 55, dtype: int64,
  0    93707
  1     4689
 -1     4548
 Name: 56, dtype: int64,
  0    99816
 -1     1582
  1     1546
 Name: 57, dtype: int64,
  0    88858
 -1     7044
  1     7042
 Name: 58, dtype: int64,
  0    98076
  1     2449
 -1     2419
 Name: 59, dtype: int64,
  0    100774
 -1      1093
  1      1077
 Name: 60, dtype: int64,
  0    88786
  1     7111
 -1     7047
 Name: 61, dtype: int64,
  0    94161
 -1     4406
  1     4377
 Name: 62, dtype: int64,
  0    98994
 -1     1984
  1     1966
 Name: 63, dtype: int64,
  0    98806
 -1     2079
  1     2059
 Name: 64, dtype: int64,
  0    102051
  1       461
 -1       432
 Name: 65, dtype: int64,
  0    94490
 -1     4309
  1     4145
 Name: 66, dtype: int64,
  0    96281
 -1     3356
  1     3307
 Name: 67, dtype: int64,
  0    99298
  1     1836
 -1     1810
 Name: 68, dtype: int64,
  0    91363
  1     5803
 -1     5778
 Name: 69, dtype: int64,
  0    91332
 -1     5809
  1     5803
 Name: 70, dtype: int64,
  0    99195
  1     1894
 -1     1855
 Name: 71, dtype: int64,
  0    89550
  1     6755
 -1     6639
 Name: 72, dtype: int64,
  0    79255
  1    11934
 -1    11755
 Name: 73, dtype: int64,
  0    94374
 -1     4338
  1     4232
 Name: 74, dtype: int64,
  0    98149
  1     2402
 -1     2393
 Name: 75, dtype: int64,
  0    100236
  1      1355
 -1      1353
 Name: 76, dtype: int64,
  0    101201
 -1       873
  1       870
 Name: 77, dtype: int64,
  0    96954
 -1     3000
  1     2990
 Name: 78, dtype: int64,
  0    101196
  1       882
 -1       866
 Name: 79, dtype: int64,
  0    97470
 -1     2798
  1     2676
 Name: 80, dtype: int64,
  0    99264
  1     1888
 -1     1792
 Name: 81, dtype: int64,
  0    100223
 -1      1370
  1      1351
 Name: 82, dtype: int64,
  0    92700
 -1     5171
  1     5073
 Name: 83, dtype: int64,
  0    98262
 -1     2365
  1     2317
 Name: 84, dtype: int64,
  0    94597
 -1     4186
  1     4161
 Name: 85, dtype: int64,
  0    97442
 -1     2774
  1     2728
 Name: 86, dtype: int64,
  0    94731
  1     4146
 -1     4067
 Name: 87, dtype: int64,
  0    99675
  1     1660
 -1     1609
 Name: 88, dtype: int64,
  0    97678
 -1     2655
  1     2611
 Name: 89, dtype: int64,
  0    101154
  1       935
 -1       855
 Name: 90, dtype: int64,
  0    101950
 -1       512
  1       482
 Name: 91, dtype: int64,
  0    77264
 -1    12905
  1    12775
 Name: 92, dtype: int64,
  0    93840
  1     4553
 -1     4551
 Name: 93, dtype: int64,
  0    96203
  1     3447
 -1     3294
 Name: 94, dtype: int64,
  0    97819
 -1     2572
  1     2553
 Name: 95, dtype: int64,
  0    96811
  1     3100
 -1     3033
 Name: 96, dtype: int64,
  0    83858
 -1     9574
  1     9512
 Name: 97, dtype: int64,
  0    93896
 -1     4630
  1     4418
 Name: 98, dtype: int64,
  0    98778
  1     2093
 -1     2073
 Name: 99, dtype: int64,
  0    97934
 -1     2513
  1     2497
 Name: 100, dtype: int64,
  0    98440
  1     2258
 -1     2246
 Name: 101, dtype: int64,
  0    96295
 -1     3366
  1     3283
 Name: 102, dtype: int64,
  0    73499
 -1    14777
  1    14668
 Name: 103, dtype: int64,
  0    98577
 -1     2207
  1     2160
 Name: 104, dtype: int64,
  0    94635
  1     4192
 -1     4117
 Name: 105, dtype: int64,
  0    100470
  1      1260
 -1      1214
 Name: 106, dtype: int64,
 0    102944
 Name: 107, dtype: int64,
  0    97932
  1     2557
 -1     2455
 Name: 108, dtype: int64,
  0    98630
  1     2201
 -1     2113
 Name: 109, dtype: int64,
  0    100010
 -1      1482
  1      1452
 Name: 110, dtype: int64,
  0    99266
 -1     1843
  1     1835
 Name: 111, dtype: int64,
  0    100970
  1      1031
 -1       943
 Name: 112, dtype: int64]

In [7]:
#Broj null podataka u svakoj koloni
dota_data.isnull().sum()

win       0
region    0
mode      0
type      0
0         0
         ..
108       0
109       0
110       0
111       0
112       0
Length: 117, dtype: int64

In [8]:
#provera tipova podataka
dota_data.dtypes

win       int64
region    int64
mode      int64
type      int64
0         int64
          ...
108       int64
109       int64
110       int64
111       int64
112       int64
Length: 117, dtype: object

## Preprocesiranje podataka

In [9]:
#Grupisanje regiona
dota_data.loc[dota_data["region"].isin([111,112,113,114]), "region"] = 1 #US West
dota_data.loc[dota_data["region"].isin([121,122,123,124]), "region"] = 2 #US East
dota_data.loc[dota_data["region"].isin([131,132,133,134,135,136,137,138]), "region"] = 3 #Europe West
dota_data.loc[dota_data["region"].isin([142,143,144,145]), "region"] = 4 #South Korea
dota_data.loc[dota_data["region"].isin([151,152,153,154,155,156]), "region"] = 5 #Southeast Asia
dota_data.loc[dota_data["region"].isin([161,163, 221,222,223,224,225,227,231]), "region"] = 6 #China
dota_data.loc[dota_data["region"].isin([171]), "region"] = 7 #Australia
dota_data.loc[dota_data["region"].isin([181,182,183,184, 185,186,187,188]), "region"] = 8 #Russia
dota_data.loc[dota_data["region"].isin([191,192]), "region"] = 9 #Europe East
dota_data.loc[dota_data["region"].isin([200,202,203,204]), "region"] = 10 #South America
dota_data.loc[dota_data["region"].isin([211,212,213]), "region"] = 11 #South Africa
dota_data.loc[dota_data["region"].isin([241,242]), "region"] = 12 #Chile
dota_data.loc[dota_data["region"].isin([251]), "region"] = 13 #Peru
dota_data.loc[dota_data["region"].isin([261]), "region"] = 14 #India
dota_data['region'].head(5)

0    6
1    6
2    3
3    6
4    8
Name: region, dtype: int64

In [10]:
#Uklanjanje instanci ciji je tip igre 'Tutorial' 
df_f1=dota_data[dota_data['type'] != 3]

#Uklanjanje instanci ciji je mod igre 'Tutorial' 
df_f2=df_f1[df_f1['mode'] != 10]

In [11]:
df_f2['win'].value_counts()

 1    33397
-1    29895
Name: win, dtype: int64

In [12]:
#balansiranje dataseta
g = df_f2.groupby('win')
g=pd.DataFrame(g.apply(lambda x: x.sample(g.size().min()).reset_index(drop=True)))
g['win'].value_counts()

 1    29895
-1    29895
Name: win, dtype: int64

## Razdvajanje feature i target kolona

In [13]:
Y = g.iloc[:,0]
X = g.iloc[:,1:]

## Razdvajanje train i test setova 80:20

In [67]:
from sklearn.model_selection import train_test_split
#random state = 1, kako bi se koristio int seed za RNG
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [68]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
svc_model = LinearSVC(random_state=0,max_iter = 100000, dual = False, penalty='l2')

pred = svc_model.fit(X_train, Y_train).predict(X_test)
print("LinearSVC accuracy : ",accuracy_score(Y_test, pred, normalize = True))
print("Confusion matrix:")
print(confusion_matrix(Y_test, pred))
print("Report:")
print(classification_report(Y_test, pred))

LinearSVC accuracy :  0.5981769526676701
Confusion matrix:
[[3561 2344]
 [2461 3592]]
Report:
              precision    recall  f1-score   support

          -1       0.59      0.60      0.60      5905
           1       0.61      0.59      0.60      6053

    accuracy                           0.60     11958
   macro avg       0.60      0.60      0.60     11958
weighted avg       0.60      0.60      0.60     11958

In [82]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=1000, dual=False)
logreg.fit(X_train,Y_train)
pred = logreg.predict(X_test)
print('Accuracy of Logistic regression classifier on training set: '
     ,logreg.score(X_train, Y_train))
print('Accuracy of Logistic regression classifier on test set: ',
     accuracy_score(Y_test, pred),'\n')
print("Confusion matrix:")
print(confusion_matrix(Y_test, pred))
print("Report:")
print(classification_report(Y_test, pred))

Accuracy of Logistic regression classifier on training set:  0.6017101521993644
Accuracy of Logistic regression classifier on test set:  0.597842448569995

Confusion matrix:
[[3561 2344]
 [2465 3588]]
Report:
              precision    recall  f1-score   support

          -1       0.59      0.60      0.60      5905
           1       0.60      0.59      0.60      6053

    accuracy                           0.60     11958
   macro avg       0.60      0.60      0.60     11958
weighted avg       0.60      0.60      0.60     11958

In [83]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=100, random_state=0, n_estimators=200, criterion='entropy', min_samples_split=2
                            ,n_jobs=-1,bootstrap=True,min_samples_leaf=20)
clf.fit(X_train, Y_train)
pred = clf.predict(X_test)
print('Accuracy of Random forest classifier on test set: ',accuracy_score(Y_test, pred))
print("Confusion matrix:")
print(confusion_matrix(Y_test, pred))
print("Report:")
print(classification_report(Y_test, pred))

Accuracy of Random forest classifier on test set:  0.5866365612978759
Confusion matrix:
[[3569 2336]
 [2607 3446]]
Report:
              precision    recall  f1-score   support

          -1       0.58      0.60      0.59      5905
           1       0.60      0.57      0.58      6053

    accuracy                           0.59     11958
   macro avg       0.59      0.59      0.59     11958
weighted avg       0.59      0.59      0.59     11958

In [84]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier(loss='log', penalty='l1',fit_intercept=False, learning_rate='adaptive',eta0=1
                   ,power_t=0.5, max_iter=1000)
clf.fit(X_train, Y_train)
pred = clf.predict(X_test)
print('Accuracy of SGD classifier on test set: ',accuracy_score(Y_test, pred))
print("Confusion matrix:")
print(confusion_matrix(Y_test, pred))
print("Report:")
print(classification_report(Y_test, pred))

Accuracy of SGD classifier on test set:  0.5975915704967386
Confusion matrix:
[[3572 2333]
 [2479 3574]]
Report:
              precision    recall  f1-score   support

          -1       0.59      0.60      0.60      5905
           1       0.61      0.59      0.60      6053

    accuracy                           0.60     11958
   macro avg       0.60      0.60      0.60     11958
weighted avg       0.60      0.60      0.60     11958